#
# @file
# Editor config rules for Jorge
#
# @see https://www.php-fig.org/psr/psr-2/
# @see https://editorconfig.org/

root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# PHP-Files, Composer.json, MD-Files
[*.php]
indent_style = space
indent_size = 4
